@model IEnumerable<CG.Web.Models.ViewModels.TagViewModel>

@foreach (var tag in Model)
{
    <div class="col-md-4">
        @Html.ActionLink(tag.Title, "GetTagCodeGists", "Tags", new { id = tag.Id }, new { @class = "" })
    </div>
}


